<div class="container">
	<div class="row">
		<div class="col-md-5 col-xs-6 col-sm-6 wow slideInUp animated">
			<img class="img-responsive details-phone" src="img/verticle-phone.png" alt="">
		</div>
		<div class="col-md-6 col-md-offset-1 col-xs-6 col-sm-6 wow slideInUp animated">
			<h4>dip into the details</h4>
			<h2>Beautiful on every device</h2>
			<img class="img-responsive" src="img/daag.png" alt="">
			<p>Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit. </p>
			<ul>
				<li><i class="fa fa-trophy"></i>Awesome design</li>
				<li><i class="fa fa-mobile"></i>Fully responsive</li>
				<li><i class="fa fa-bolt"></i> Retina ready</li>
				<li><i class="fa fa-tachometer"></i>Tons of features and easy to use</li>
			</ul>
		</div>
	</div>
</div>