<div class="container">
	<div class="row">
		<div class="about-us-heading">
			<h4>we love what we do</h4>
			<h2>About Us</h2>
			<img class="img-responsive" src="img/daag.png" alt="">
			<p class="wow fadeInLeft animated">Loyalty car wash is a young, fresh and Ecological mobile car valeting business, with a very individual business model. We strive to give something back to the world and make a difference in peoples lives. We have been able to achieve this by annually donating a percentage of our proceeds, to cover the $7,000 cost of creating individual water wells in Africa to provide fresh drinking water to the people African.</p>
		</div>
		<div class="col-md-4 col-xs-12 wow fadeInUp animated">
			<h3>Dignity is in Water</h3>
			<img src="img/about/girl_splash.jpg" class='img-responsive'/>
			<p>Approximately 1/6 of the human population does not have access to clean drinking water. So many deaths and so much illness are caused by a lack of sanitation and inaccessibility to water. Every 20 seconds a child dies as a result of water related diseases. In fact half of the hospital beds in the world are occupied by patients suffering from diseases associated with lack of access to safe drinking water, inadequate sanitation and poor hygiene.</p>
		</div>
		<div class="col-md-4 col-xs-12 wow fadeInUp animated">
			<h3>Global Crisis</h3>
			<img class="img-responsive" src='img/about/global_crisis.jpg' />
			<p>This is a global crisis driven not by a global shortage of water, but rather by inadequate water distribution, management, and protection. There is an abundance of facts and figures online about the number of people impacted globally through illness and death. Not too many people are talking about the impact the water crisis has on the innate being of those affected. Accessibility to water is the key determinant of lifestyle. The severity of the sanitation/water issue doesn’t just encompass disease and death. It impacts us on a very different dimension – dignity, an inborn right to respect. Access to clean water is a fundamental catalyst for sustaining life and upholding human dignity.</p>
		</div>
		<div class="col-md-4 col-xs-12 wow fadeInUp animated">
			<h3>Dignity is infringed</h3>
			<img src="img/about/dignity_infringed.jpg" class="img-responsive" />
			<p>Dignity is infringed upon every time a mother foregoes an income or time with her family to walk miles to collect water. Every time a child has to drop out of school to manage water in their household is in infringement on their ability to secure a dignified future. Every time a child starves or lays sick, their dignity is stripped away. Aside from fulfilling our basic needs, access to clean drinking water provides us with time and the ability to generate an income and live out a dignified life. Imagine not having water in your life – how different would your life be?</p>
		</div>
	</div>
</div>