<div class="container">
	<div class="row">
		<div class="about-us-heading" style="margin-bottom: 100px">
			<h4>we love what we do</h4>
			<h2>About Us</h2>
			<img class="img-responsive" src="img/daag.png" alt="">
			<p class="wow fadeInLeft animated">Loyalty car wash is a young, fresh and  mobile car valeting business, with a very individual business model. We strive to give something back to the world and make a difference in peoples lives. We have been able to achieve this by annually donating a percentage of our proceeds, to  create individual water wells in Africa to provide fresh drinking water to the people African.</p>

			<p>Our Mission is to provide premium service to our customers and a great work environment for our employees, while providing the community with a respectable and professional mobile car wash service.
			</p>
		</div>
	</div>
</div>