<div class="container">
	<div class="row">
		<div class="contact-heading">
			<h4>get your car washed</h4>
			<h2>Book us</h2>
			<img class="img-responsive" src="img/daag.png" alt="">
		</div>
		<div class="col-md-3 col-xs-4 col-sm-4">
			<i class="fa fa-phone"></i>
			<p>Office: 0800 069 93 13</p>
			<p>Mobile: 07588949199</p>
		</div>
		<div class="col-md-6 col-xs-4 col-sm-4">
			<i class="fa fa-calendar"></i>
			<p>8 am - 4 pm Winter time Monday - Saturday</p>
			<p>8 am - 7 pm Summer time Monday - Saturday</p>
			<p>Sunday closed</p>
		</div>
		<div class="col-md-3 col-xs-4 col-sm-4 clearfix">
			<i class="fa fa-envelope-o"></i>
			<p>info@loyaltycarwash.co.uk</p>
		</div>
		<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
			<article class="contact-form">
				<form action="contact">
					<div class="col-md-5 col-md-offset-1 contact-form-left">
						<input class="name" type="text" placeholder="NAME*">
						<input class="email" type="email" placeholder="EMAIL*">
						<input class="subject" type="text" placeholder="SUBJECT*">
					</div>
					<div class="col-md-5 contact-form-right text-right">
						<textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="MESSAGE"></textarea>
						<input type="submit" class="submit-btn" value="send message">
					</div>
				</form>
			</article>
		</div>
	</div>
</div>