<div class="container">
	<div class="row">
		<div class="contact-heading">
			<h4>stay in touch</h4>
			<h2>Contact us</h2>
			<img class="img-responsive" src="img/daag.png" alt="">
		</div>
		<div class="col-md-2 col-md-offset-1 col-xs-4 col-sm-4">
			<i class="fa fa-phone"></i>
			<p>Phone: (415) 124-5678</p>
			<p>Fax: (412) 123-8290</p>
		</div>
		<div class="col-md-2 col-md-offset-2 col-xs-4 col-sm-4">
			<i class="fa fa-map-marker"></i>
			<p>1001 Brickell Bay Dr.</p>
			<p>Suite 1900 </p>
			<p>Miami, FL 33131</p>
		</div>
		<div class="col-md-2 col-md-offset-2 col-xs-4 col-sm-4 clearfix">
			<i class="fa fa-envelope-o"></i>
			<p>user@mail.com</p>
		</div>
		<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
			<article class="contact-form">
				<form action="contact">
					<div class="col-md-5 col-md-offset-1 contact-form-left">
						<input class="name" type="text" placeholder="NAME*">
						<input class="email" type="email" placeholder="EMAIL*">
						<input class="subject" type="text" placeholder="SUBJECT*">
					</div>
					<div class="col-md-5 contact-form-right text-right">
						<textarea class="message" name="message" id="message" cols="30" rows="10" placeholder="MESSAGE"></textarea>
						<input type="submit" class="submit-btn" value="send message">
					</div>
				</form>
			</article>
		</div>
	</div>
</div>