<div class="container">
	<div class="row">
		<div class="contact-heading">
			<h4>get your car washed</h4>
			<h2>Book us</h2>
			<img class="img-responsive" src="img/daag.png" alt="">
		</div>
		<div class="col-md-3 col-xs-4 col-sm-4">
			<i class="fa fa-phone"></i>
			<p>Office: 0800 069 93 13</p>
			<p>Mobile: 07588949199</p>
		</div>
		<div class="col-md-6 col-xs-4 col-sm-4">
			<i class="fa fa-calendar"></i>
			<p>8 am - 4 pm Winter time Monday - Saturday</p>
			<p>8 am - 7 pm Summer time Monday - Saturday</p>
			<p>Sunday closed</p>
		</div>
		<div class="col-md-3 col-xs-4 col-sm-4 clearfix">
			<i class="fa fa-envelope-o"></i>
			<p>info@loyaltycarwash.co.uk</p>
		</div>
		<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
			<article class="contact-form">
				<form action="contact">
					<div class="col-md-5 col-md-offset-1 contact-form-left">
						<input class="name" type="text" placeholder="NAME*">
						<input class="phone" type="text" placeholder="PHONE*">
						<input class="email" type="email" placeholder="EMAIL">
					</div>
					<div class="col-md-5 contact-form-right text-right">
						<input class="make-model" type="text" placeholder="MAKE AND MODEL*">
						<input class="registration" type="text" placeholder="REGISTRATION*">
						<input class="colour" type="text" placeholder="COLOUR">
					</div>
					<div class="col-md-10 col-md-offset-1">
						<input type="text" class="address" name="address" placeholder="ADDRESS*" />
						<textarea name="notes" class="notes" placeholder="NOTES" rows="2"></textarea>
					</div>
					<div class="col-md-5 col-md-offset-1 contact-form-left">
						<input>
					</div>
					<div class="col-md-5 contact-form-right text-right">
						<select>
							<option value="0">Anytime 8am-7pm</option>
							<option value="8">08:00-12:00</option>
							<option value="12">12:00-16:00</option>
							<option value="16">16:00-19:00</option>
						</select>
					</div>
					<input type="submit" class="submit-btn" value="send message">
				</form>
			</article>
		</div>
	</div>
</div>