<div class="container">
	<div class="row">
		<h4>how it works</h4>
		<h2>We are Eco, Simple, Effective and Mobile</h2>
		<img class="img-responsive" src="img/daag.png" alt="">
		<div class="col-md-3 wow zoomIn animated">
			<i class="fa fa-bookmark"></i>
			<h3>Book</h3>
			<p>Select a package and get exactly the service you're looking for.</p>
		</div>
		<div class="col-md-3 wow zoomIn animated">
			<i class="fa fa-credit-card-alt"></i>
			<h3>Pay</h3>
			<p>You can safely pay online, card payment with the operator, cash.</p>
		</div>
		<div class="col-md-3 wow zoomIn animated">
			<i class="fa fa-heart"></i>
			<h3>Give</h3>
			<p>We donate a small percentage from each wash towards people in need of clean water in Africa.</p>
		</div>
		<div class="col-md-3 wow zoomIn animated">
			<i class="fa fa-car"></i>
			<h3>Enjoy</h3>
			<p>See you nex time.</p>
		</div>
	</div>
</div>