<div class="container">
	<div class="row">
		<h4>product overview</h4>
		<h2>List of amazing features</h2>
		<img class="img-responsive" src="img/daag.png" alt="">
		<div class="col-md-3 wow zoomIn animated">
			<i class="fa fa-desktop"></i>
			<h3>Responsive</h3>
			<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
		</div>
		<div class="col-md-3 wow zoomIn animated">
			<i class="fa fa-cog"></i>
			<h3>Customizable</h3>
			<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
		</div>
		<div class="col-md-3 wow zoomIn animated">
			<i class="fa fa-facebook"></i>
			<h3>Lovely design</h3>
			<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
		</div>
		<div class="col-md-3 wow zoomIn animated">
			<i class="fa fa-mobile"></i>
			<h3>Mobile Friendly</h3>
			<p>Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.</p>
		</div>
	</div>
</div>