<div class="container-fluid">
	<div class="row">
		<div class="pricing-heading">
			<h4>quality has its price</h4>
			<h2>Pricings &amp; Plans</h2>
			<img class="img-responsive" src="img/daag.png" alt="">
		</div>
		<div class="pricing-tables">
			<div class="col-md-2 col-md-offset-1 col-sm-6 wow zoomIn animated">
				<div class="single-table free">
					<div class="table-heading">
						<h3>Express Wash</h3>
					</div>
					<div class="table-price">
						<div class="row">
							<div class="col-xs-6">
								<h5><span>£</span>15</h5>
								<p>Small</p>
							</div>
							<div class="col-xs-6">
								<h5><span>£</span>18</h5>
								<p>Large</p>
							</div>
						</div>
					</div>
					<div class="table-description">
						<ul class="list-group">
							<li class="list-group-item">Exterior Hand Wash</li>
							<li class="list-group-item">Bodywork Dry</li>
							<li class="list-group-item">Alloy Wheels Cleaned</li>
							<li class="list-group-item">Tyres Conditioned & Dressed</li>
							<li class="list-group-item">Windows & Mirrors Cleaned</li>
						</ul>
						<button>ORDER NOW</button>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 wow zoomIn animated">
				<div class="single-table personal">
					<div class="table-heading">
						<h3>Bronze Package</h3>
					</div>
					<div class="table-price">
						<div class="row">
							<div class="col-xs-6">
								<h5><span>£</span>19</h5>
								<p>Small</p>
							</div>
							<div class="col-xs-6">
								<h5><span>£</span>22</h5>
								<p>Large</p>
							</div>
						</div>
					</div>
					<div class="table-description">
						<ul class="list-group">
							<li class="list-group-item">Express Wash</li>
							<li class="list-group-item">Windows cleaned and polished outside</li>
							<li class="list-group-item">Rims dressed</li>
							<li class="list-group-item">Vacuum clean of interior and boot</li>
							<li class="list-group-item">Door shuts cleaned and polished</li>
						</ul>
						<button>ORDER NOW</button>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 wow zoomIn animated">
				<div class="single-table business">
					<div class="table-heading">
						<h3>Silver Package</h3>
					</div>
					<div class="table-price business-price">
						<div class="row">
							<div class="col-xs-6">
								<h5><span>£</span>45</h5>
								<p>Small</p>
							</div>
							<div class="col-xs-6">
								<h5><span>£</span>55</h5>
								<p>Large</p>
							</div>
						</div>
					</div>
					<div class="table-description">
						<ul class="list-group">
							<li class="list-group-item">Bronze Package</li>
							<li class="list-group-item">Boot shut cleaned and hand polished</li>
							<li class="list-group-item">Interior plastics and door panels cleaned</li>
							<li class="list-group-item">Air vents cleaned</li>
							<li class="list-group-item">Deodorizer applied to eliminate odors</li>
						</ul>
						<button>ORDER NOW</button>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 wow zoomIn animated">
				<div class="single-table ultimate">
					<div class="table-heading">
						<h3>Gold Package</h3>
					</div>
					<div class="table-price">
						<div class="row">
							<div class="col-xs-6">
								<h5><span>£</span>80</h5>
								<p>Small</p>
							</div>
							<div class="col-xs-6">
								<h5><span>£</span>90</h5>
								<p>Large</p>
							</div>
						</div>
					</div>
					<div class="table-description">
						<ul class="list-group">
							<li class="list-group-item">Silver Package</li>
							<li class="list-group-item">Seats & mats shampooed</li>
							<li class="list-group-item">High grade leather conditioner</li>
							<li class="list-group-item">Quick wax</li>
							<li class="list-group-item">Scotch Gard</li>
						</ul>
						<button>ORDER NOW</button>
					</div>
				</div>
			</div>
			<div class="col-md-2 col-sm-6 wow zoomIn animated">
				<div class="single-table ultimate">
					<div class="table-heading">
						<h3>Extra</h3>
					</div>
					<div class="table-description">
						<ul class="list-group">
							<li class="list-group-item"><span class="badge">£7</span>Quick Wax</li>
							<li class="list-group-item"><span class="badge">S £40</span><span class="badge">L £50</span>HD Wax</li>
							<li class="list-group-item"><span class="badge">£5</span>Scotch Gard Fabric and Carpet Protector</li>
							<li class="list-group-item"><span class="badge">£5</span>Windscreen Washer</li>
							<li class="list-group-item"><span class="badge">£10</span>VIP Service (Have your car washed within 2 hours)</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>