<div class="container">
	<div class="row">
		<div class="pricing-slide-heading text-center">
			<h4>words from our customers</h4>
			<h2>Testimonials</h2>
			<img class="img=responsive" src="img/daag.png" alt="">
		</div>
		<div class="the-pricing-slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>I've been to so many car washing places but Loyalty Car Wash is by the best it's worth paying that little bit extra compared to a normal car wash and have an excellent job done to the car plus they're doing a good thing by helping the environment and the unfortunate in other countries… nonetheless, I think it's safe to say I'll be defiantly be going back to Loyalty Car Wash in a couple of weeks for another car wash.</p>
						</div>
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>INCREDIBLE!  I was a little surprised at first that my detailing would take 2 hours, but boy oh boy was it worth the wait!  Sparkling inside and out, all done with a smile.  By far the best car wash experience I've had in the city.  Skip the other places - Book Loyalty Car wash</p>
						</div>
					</div>
					<div class="item">
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>Five Stars!! The service that I received deserve a review. Good for the environment, excellent service, & my car has never been cleaner...she shines!</p>
						</div>
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>This is for sure the best one in town. The employees actually know how to clean a vehicle. Super reasonable prices.</p>
						</div>
					</div>						   
				</div>
			</div>
		</div>
	</div>
</div>