<div class="container">
	<div class="row">
		<div class="pricing-slide-heading text-center">
			<h4>quality has its price</h4>
			<h2>Pricings &amp; Plans</h2>
			<img class="img=responsive" src="img/daag.png" alt="">
		</div>
		<div class="the-pricing-slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.</p>
							<div class="person">
								<img class="img-circle img-responsive" src="img/slider-img-1.jpg" alt="">
								<h6>John Doe</h6>
								<h5>CEO, THE RIVERS COMPANY</h5>
							</div>
						</div>
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.</p>
							<div class="person">
								<img class="img-circle img-responsive" src="img/slider-img-2.jpg" alt="">
								<h6>Dean Winchester</h6>
								<h5>UX DESIGNER, GOOGLE INC.</h5>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.</p>

							<div class="person">
								<img class="img-circle img-responsive" src="img/slider-img-3.jpg" alt="">
								<h6>John Doe</h6>
								<h5>CEO, THE RIVERS COMPANY</h5>
							</div>
						</div>
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.</p>
							<div class="person">
								<img class="img-circle img-responsive" src="img/slider-img-5.jpg" alt="">
								<h6>Dean Winchester</h6>
								<h5>UX DESIGNER, GOOGLE INC.</h5>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.</p>
							<div class="person">
								<img class="img-circle img-responsive" src="img/slider-img-4.jpg" alt="">
								<h6>John Doe</h6>
								<h5>CEO, THE RIVERS COMPANY</h5>
							</div>
						</div>
						<div class="col-md-6 col-xs-12 col-sm-6 wow zoomIn animated">
							<p>A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.</p>
							<div class="person">
								<img class="img-circle img-responsive" src="img/slider-img-6.jpg" alt="">
								<h6>Dean Winchester</h6>
								<h5>UX DESIGNER, GOOGLE INC.</h5>
							</div>
						</div>
					</div>						   
				</div>
			</div>
		</div>
	</div>
</div>